body {
    background-color: #fec356;
}

p {
    line-height: 25px;
    font-size: 17px;
}

.contenedor {
    width: 1200px;
    margin: 17px auto;
}

.contenido-principal {
    display: flex;
    padding: 0 40px;
}

.principal {
    background-color: white;
    padding-bottom: 40px;
}

.titulo h1 {
    padding-top: 40px;
    padding-left: 40px;
    margin: 0;
}

.menu {
    border: solid;
    width: 200px;
    border-width: 1px;
}

.menu h3 {
    padding: 10px 15px;
    margin: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.menu-contenido li {
    margin-top: 10px;
}

.card h2 {
    background-color: #ffc500;
    margin: 0;
    padding: 6px;
    text-align: center;
}

.card-img {
    padding-top: 60px;
    display: flex;
    align-items: center;
}

.img {
    flex-basis: 60%;
}

.card {
    border: solid;
    border-width: 1px;
    background-color: #f4f3f4;
    padding: 5px;
}

.card-img p {
    margin-left: 3px;
    flex-basis: 40%;
}